<footer class="mt-5 py-2 bg-secondary text-white">
  <div class="container">
    <div class="footer_menu d-flex align-items-center justify-content-between">
      <ul class="footer_menu_left no_margin_buttom">
        {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}" class="text-white">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="footer_menu_rigth no_margin_buttom">
        {% if section.settings.instagram != blank %}
          <li><a href="{{ section.settings.instagram }}" class="text-white"><i class="fab fa-instagram"></i></a></li>
        {% endif %}
        {% if section.settings.facebook != blank %}
          <li><a href="{{ section.settings.facebook }}" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
        {% endif %}
        {% if section.settings.twitter != blank %}
          <li><a href="{{ section.settings.twitter }}" class="text-white"><i class="fab fa-twitter"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "instagram",
      "label": "Instagram Link"
    },
    {
      "type": "text",
      "id": "facebook",
      "label": "Facebook Link"
    },
    {
      "type": "text",
      "id": "twitter",
      "label": "Twitter Link"
    }
  ]
}
{% endschema %}