<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Shopify-Training</a>
    <a href="cart.html" class="tb_menu ml-auto pr-3">
      <span class="navbar-text ">
        <i class="fas fa-shopping-cart fa-lg"></i>
      </span>
      <span class="navbar-text ">
        カート({{ cart.item_count }})
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <!-- リンクをひとつずつ取り出す -->
        {% for link in linklists.main-menu.links %}
          <li class="nav-item">
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <div class="dropdown drop-hover">
                <a href="{{ link.url }}" class="nav-link dropdown-toggle">{{ link.title }}</a>
                <ul class="dropdown-menu">
                  <!-- 下の階層のリンクを1つずつ取り出す -->
                  {% for childlink in linklists[child_list_handle].links %}
                    <!-- その名前をsub_list_handleとして定義する -->
                    {% assign sub_list_handle = childlink.title | handleize %}
                    <!-- sub_list_handleがあったら -->
                    {% if linklists[sub_list_handle].links != blank %}
                      <!-- ドロップダウンメニューを出す -->
                      <li class="dropright drop-hover">
                        <a href="{{ childlink.url }}" class="dropdown-item dropdown-toggle" data-toggle="dropdown">{{ childlink.title }}</a>
                        <ul class="dropdown-menu">
                          {% for sublink in linklists[sub_list_handle].links %}
                            <li>
                              <a href="{{ sublink.url }}" class="dropdown-item">{{ sublink.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}
                      <li>
                        <a href="{{ childlink.url }}" class="dropdown-item">{{ childlink.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="nav-item"><a class="nav-link" href="/account/logout">Log Out</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/account/login">Log In</a></li>
            <li class="nav-item"><a class="nav-link" href="/account/register">Register</a></li>
          {% endif %}
        {% endif %}
      </ul>
      <div class="pc_menu d-flex">
        <a href="cart.html">
          <span class="navbar-text ">
            <i class="fas fa-shopping-cart fa-lg"></i>
          </span>
          <span class="navbar-text ">
            カート({{ cart.item_count }})
          </span>
        </a>
        <form>
          <div class="input-group ml-2">
            <input type="text" class="form-control" placeholder="検索" name="q" value="{{ search.terms | escape }}">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>