{% render 'breadcrumbs' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="main">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm">
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" alt=""
          class="product_big_img">
        <div class="row row-cols-sm-3 mt-3">
          {% for image in product.images %}
          <div class="col">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="product_small_img">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm">
        <h2 class="mb-3 f30">{{ product.title }}</h2>
        <p class="f26">{{ current_variant.price | money }}</p>
        <p class="my-5">{{ product.description }}</p>

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="id">種類</label>
              <select name="id" id="productSelect" class="form-control">
                {% for variant in product.variants %}
                {% if variant.available %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - sold out
                </option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="number">数量</label>
              <input type="number" id="Quantity" name="quantity" class="form-control" value="1" min="1">
            </div>
          </div>
          <button type="submit" name="add" id="AddToCart" class="mx-auto btn btn-dark">カートに入れる</button>
        </form>
      </div>
    </div>

    <h3 class="f36 text-center">関連商品</h3>
    <div class="row row-cols-sm-3">
      {% for collection in product.collections %}
        {% paginate collection.products by 3 %}
          {% for product in collection.products %}
            <a href="{{product.url | within: collection}}" class="col-sm mb-3">
              <div class="card position-relative">
                {% unless product.available %}<span class="f26 sold_out text-danger position-absolute">Sold
                  Out</span>{% endunless %}
                <img class="item_list_img" src="{{product.featured_image | img_url: '1920x'}}" alt="">
                <div class="card-body">
                  <p class="card-text font-weight-bold">{{product.title}}</p>
                  <p>{{product.price | money}}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        {% endpaginate %}
        {% break %}
      {% endfor %}
    </div>
  </div>
</div>